@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

.home{
  background: url("../../img/bg3.png") center/cover;
  height: 450px;
  .main{
    padding-top: 55px;
    h3{
      font-size: 50px;
      color: #000;
      font-family: 'Combo', cursive;
    }
    p{
      font-family: 'Combo', cursive;
      font-size: 28px;
      max-width: 650px;
      margin-bottom: 50px;
    }
    .buttons{
      a{
        background: #007400;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        &:nth-child(2){
          background: white;
          color: black;
          margin-left: 10px;
        }
        svg{
          margin-left: 10px;
        }
      };
    }
  }
}