.product{
  padding-top: 50px;
  padding-bottom: 50px;
  .title{
    text-align: center;
    font-family: 'Combo', cursive;
    font-weight: 700;
    p{
      font-size: 18px;
      margin: 0;
    }
    h4{
      font-size: 35px;
    }
  }
  .cards{
    display: flex;
    justify-content: center;
    .productCard{
      padding: 15px;
      img{
        width: 320px;
        height: 290px;
      }
      p{
        text-align: center;
        font-family: 'Combo', cursive;
        margin-top: 10px;
        font-weight: 700;
      }
      .price{
        width: 250px;
        height: 40px;
        padding: 8px 13px;
        color: white;
        background: #007400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
      }
    }
  }
  .buttonOne{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    .exploreBtn{
      border: 1px solid #007400;
      padding: 20px 30px;
      color: #007400;
      text-decoration: none;
      font-weight: 700;
      font-family: "Combo", cursive;
    }
  }
}